<div class="column h-100">
  <a href="/">
    <img class="logo" src="../../../../../assets/images/logo.png" alt="Logo" />
  </a>

  <div class="node mt-5">
    <p>Menu</p>
    <a href="/"><fa-icon [icon]="faHouse"></fa-icon>Início</a>
    <div [ngSwitch]="tipoUsuario" class="d-flex flex-column">
      <ng-container *ngSwitchCase="'paciente'">
        <a href="/agendar-paciente"
          ><fa-icon [icon]="faCalendarCheck"></fa-icon>Agendar</a
        >
        <a href="/historico-paciente"
          ><fa-icon [icon]="faClockRotateLeft"></fa-icon>Histórico</a
        >
      </ng-container>
      <ng-container *ngSwitchCase="'medico'">
        <a href="/agenda-medico"
          ><fa-icon [icon]="faCalendarCheck"></fa-icon>Agenda</a
        >
        <a href="/historico-medico"
          ><fa-icon [icon]="faClockRotateLeft"></fa-icon>Histórico</a
        >
      </ng-container>
    </div>
  </div>

  <div class="node mt-3">
    <p>Geral</p>
    <div [ngSwitch]="tipoUsuario" class="d-flex flex-column">
      <ng-container *ngSwitchCase="'paciente'">
        <a href="/dados-paciente"><fa-icon [icon]="faUser"></fa-icon>Perfil</a>
      </ng-container>
      <ng-container *ngSwitchCase="'medico'">
        <a href="/perfil-medico"><fa-icon [icon]="faUser"></fa-icon>Perfil</a>
      </ng-container>
    </div>
  </div>

  <div class="node">
    <a href="/login" class="active" style="text-decoration: none"
      ><fa-icon [icon]="faRightFromBracket"></fa-icon>Sair</a
    >
  </div>
</div>
