<!-- Lista de Cards -->
<div class="row listagem">
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Principal</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Desativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Alternativo</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Desativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Comercial</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Desativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Antigo</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Desativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco card-desativado">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Principal</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Ativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco card-desativado">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Alternativo</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Ativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco card-desativado">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Comercial</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Ativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card card-endereco card-desativado">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Antigo</h5>
          <p class="card-text">
            Rua Sao Francisco de Sales, 338 - Alto Boqueirao, Paraná, Curitiba,
            Brasil
          </p>
        </div>
        <div class="col-12 botoes">
          <button class="btn btn-sm btn-danger">Ativar</button>
          <button class="btn btn-sm btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botão "Adicionar" -->
<div class="mt-4 float-end">
  <button class="btn btn-primary-light">Adicionar Novo Endereço</button>
</div>
