<form class="d-flex flex-column" [formGroup]="form">
  <div>
    <label class="float-start">Paciente</label>
    <label class="float-end">Médico</label>
  </div>
  <mat-slider max="2" min="1">
    <input matSliderThumb formControlName="tipo" />
  </mat-slider>
  <mat-form-field>
    <mat-label>Nome Completo</mat-label>
    <input matInput formControlName="nome" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" />
  </mat-form-field>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" type="tel" />
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-6">
      <mat-label>Data de nascimento</mat-label>
      <input matInput formControlName="dataNascimento" type="date" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6">
      <mat-label>Sexo</mat-label>
      <select matNativeControl formControlName="sexo">
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
      </select>
    </mat-form-field>
    <div class="col-12 col-sm-6" *ngIf="form.get('tipo')!.value == '2'">
      <mat-form-field class="col-12">
        <mat-label>CRM</mat-label>
        <input matInput formControlName="crm" />
      </mat-form-field>
    </div>
  </div>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input
      matInput
      formControlName="senha"
      [type]="senhaVisivel ? 'text' : 'password'"
    />
    <button
      mat-icon-button
      matSuffix
      class="icon-button"
      (click)="alternarVisibilidadeSenha()"
    >
      <mat-icon>{{ senhaVisivel ? "visibility" : "visibility_off" }}</mat-icon>
    </button>
  </mat-form-field>
  <p *ngIf="senha!.hasError('senhaInvalida')" class="col-12 erro">
    {{ senha!.getError("mensagem") }}
  </p>

  <button
    type="button"
    (click)="register()"
    class="btn btn-primary-dark"
    [disabled]="form.invalid"
  >
    CADASTRAR
  </button>
</form>
