@media screen and (max-width: 767px) {
  .caixa {
    display: flex;
    justify-content: center;
  }
  .card-avaliacao {
    height: 7rem;
  }
}

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.card-avaliacao {
  height: 8rem;
}

.listagem {
  max-height: 48rem !important;
  overflow-y: auto !important;
}
