.card-endereco {
  height: 8rem;
}

.listagem {
  max-height: 34rem !important;
  overflow-y: auto !important;
}

.card-desativado {
  opacity: 0.7;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .card-endereco {
    height: 7rem;
  }
}
