.background-image {
  background-image: url("../../../../assets/images/login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.login-background {
  height: 70%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(207, 207, 207);
}

.login-container {
  margin-top: 10%;
  width: 90%;
}

.nav {
  justify-content: space-evenly !important;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-link {
  border-radius: 4px;
  font-size: 12px;
}
@media screen and (max-width: 300px) {
  .login-background {
    height: 95% !important;
  }
}

@media screen and (max-width: 767px) {
  .background-image {
    display: none;
  }
  .login-background {
    height: 90%;
  }
}

@media screen and (max-height: 767px) {
  .login-background {
    height: 90%;
  }
}
