<div class="row h-100 col-without-padding">
  <div class="col-md-6 h-100 left background-image"></div>
  <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
    <div class="login-background">
      <form class="example-form">
        <!-- <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field> -->
      </form>
    </div>
  </div>
</div>
