@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html,
body,
app-root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.75);
  border-radius: 12px;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
}

$theme-colors: (
  "primary": rgb(86, 144, 146),
  "primary-dark": rgb(58, 96, 98),
  "primary-light": rgb(115, 174, 176),
  "secondary": rgb(146, 86, 88),
  "secondary-dark": rgb(98, 58, 60),
  "secondary-light": rgb(176, 115, 117),
  "thirty": #6c757d,
  "success": #6a9429,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
);

$primary: map-get($theme-colors, "primary");
$primary-dark: map-get($theme-colors, "primary-dark");
$primary-light: map-get($theme-colors, "primary-light");
$secondary: map-get($theme-colors, "secondary");
$secondary-dark: map-get($theme-colors, "secondary-dark");
$secondary-light: map-get($theme-colors, "secondary-light");
$thirty: map-get($theme-colors, "thirty");
$success: map-get($theme-colors, "success");
$info: map-get($theme-colors, "info");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");
$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s !important;
}

.btn {
  color: white !important;
}

.nav-link.active {
  background-color: map-get($theme-colors, "primary") !important;
  color: white !important;
}

.nav-link {
  color: black !important;
}

.mdc-text-field__input {
  height: 35px !important;
}

.mdc-slider__track--inactive {
  background-color: $primary-light !important;
}

.mat-mdc-slider .mdc-slider__track--active_fill {
  border-color: $primary !important;
}

.mat-mdc-slider .mdc-slider__thumb-knob {
  border-color: $primary !important;
}

.icon-button {
  border: 0 !important;
  background-color: transparent !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
